//- ----------------------------------------------------------------------
//- Starter markup template miliday - "Made with love, especially for you"
//- ----------------------------------------------------------------------
//- nickname: "Michael Holiday"
//- email: "miliday.developer@gmail.com"
//- ----------------------------------------------------------------------


mixin style(path)
    link(rel="stylesheet", href= path)

mixin script(path)
    script(src= path)