//- ----------------------------------------------------------------------
//- Starter markup template miliday - "Made with love, especially for you"
//- ----------------------------------------------------------------------
//- nickname: "Michael Holiday"
//- email: "miliday.developer@gmail.com"
//- ----------------------------------------------------------------------

- var menuLinks = [['#', 'link'], ['#', 'link'], ['#', 'link'], ['#', 'link']]