extends ../layouts/page.pug

block head
    title Celeb Cloud - model agency
    

block body

    .b-page
        aside.b-sidebar.b-page__sidebar
            .b-sidebar__inner
                header.b-sidebar__header
                    .b-logo.b-sidebar__logo
                        a.b-logo__link(href='index.html')
                            +logo-svg('sidebar-logo')

                nav.b-menu.b-sidebar__menu
                    ul.b-menu__items
                        li.b-menu__item.b-menu__item_active
                            a.b-menu__item-link(href='index.html') Home
                        li.b-menu__item
                            a.b-menu__item-link(href='our-models.html') Our models
                        li.b-menu__item
                            a.b-menu__item-link(href='contacts.html') Contacts

                footer.b-sidebar__footer
                    .b-social.b-sidebar__social
                        ul.b-social__items
                            li.b-social__item
                                a.b-social__item-link(href='#' title='our vk')
                                    i.b-social__item-icon.fab.fa-vk
                            li.b-social__item
                                a.b-social__item-link(href='#' title='our facebook')
                                    i.b-social__item-icon.fab.fa-facebook-f
                            li.b-social__item
                                a.b-social__item-link(href='#' title='our twitter')
                                    i.b-social__item-icon.fab.fa-twitter
                            li.b-social__item
                                a.b-social__item-link(href='#' title='our instagram')
                                    i.b-social__item-icon.fab.fa-instagram
                        

                    p.b-sidebar__copyright © Model Agency "Celeb Cloud", 2018
        
        
        .b-content.b-page__content
            header.b-header.b-content__header
                .b-header__inner
                    .b-header__left
                        .b-toggle.b-header__sidebar-toggle
                            .b-toggle__items
                                i.b-toggle__item.b-toggle__item_active.b-link__icon_lg.fas.fa-bars
                                i.b-toggle__item.b-link__icon_lg.fas.fa-times

                    .b-header__middle
                        .b-logo-sm.b-header__logo-sm
                            a.b-logo-sm__link(href='index.html')
                                +logo-sm-svg('header-logo-sm')


                    .b-header__right
                        a.b-link.b-header__login(href='login-model.html')
                            i.b-link__icon.b-link__icon_lg.fas.fa-user-ninja

                        a.b-link.b-header__login(href='login-user.html')
                            i.b-link__icon.b-link__icon_lg.fas.fa-user-tie




            main.b-main.b-content__main

                nav.b-nav-line.b-main__nav-line
                    .b-nav-line__left
                        a.b-link.b-nav-line__bread-crumbs(href='index.html')
                            i.b-link__icon.fas.fa-home
                            span.b-link__texts
                                span.b-link__text-first Home

                        a.b-link.b-nav-line__bread-crumbs(href='cabinet-model-basic.html')
                            span.b-link__texts
                                span.b-link__text-first Cabinet

                        a.b-link.b-nav-line__bread-crumbs(href='login-model.html')
                            span.b-link__texts
                                span.b-link__text-first Login model
                                    
                    .b-nav-line__right
                        a.b-link.b-nav-line__login(href='login-model.html')
                            i.b-link__icon.fas.fa-user-ninja
                            span.b-link__texts.b-link__texts_underline
                                span.b-link__text-first.b-link__text-first_uppercase Models 
                                span.b-link__text-second.b-link__text-first_uppercase sign in

                        a.b-link.b-nav-line__login(href='login-user.html')
                            i.b-link__icon.fas.fa-user-tie
                            span.b-link__texts.b-link__texts_underline
                                span.b-link__text-first User 
                                span.b-link__text-second sign in


                .b-main__inner
                    .b-main__items
                        section.b-section.b-main__item.b-main__item_login
                            header.b-section__header
                                h1.b-title.b-section__header-title
                                    span.b-title__texts.b-title__texts_line-first.b-title__texts_line-wide
                                        span.b-title__text-second Login for
                                        span.b-title__text-first model
                            
                            .b-login.b-section__main
                                form.b-login__form(action='login-model')
                                    label.b-field.b-login__form-field
                                        input.b-field__input.b-field__input_icon(type="text" name="login" required placeholder="Phone number")
                                        i.b-field__icon.b-field__icon_focus-first.fas.fa-mobile-alt
                                    
                                    label.b-field.b-login__form-field
                                        input.b-field__input.b-field__input_icon(type="password" name="password" required placeholder="Password")
                                        i.b-field__icon.b-field__icon_focus-first.fas.fa-key

                                    .b-login__form-footer

                                        span.b-link.b-login__form-redirect Not registered?
                                            a.b-link.b-login__form-redirect-link(href='registration-model.html')
                                                span.b-link__texts.b-link__texts_first.b-link__texts_underline-first
                                                    span.b-link__text Join now!

                                        label.b-checkbox.b-login__form-remember
                                            input.b-checkbox__input(type="checkbox" checked name="remember")
                                            .b-checkbox__box
                                                .b-checkbox__checked.b-checkbox__checked_first

                                            .b-checkbox__texts
                                                .b-checkbox__text Remember me

                                        button.b-button.b-button_first.b-login__form-submit(type='submit')
                                            span.b-button__texts
                                                span.b-button__text-first Sign in

                                    
block script

    +script('./assets/lib/autosize.min.js')
    
    script.

        $(document).ready(e => {

            new ActiveInHover({
                items: '.b-menu__items',
                item: '.b-menu__item',
                activeClass: 'b-menu__item_active'
            })

            new ToggleTrigger({
                items: '.b-toggle__items',
                item: '.b-toggle__item',
                activeClass: 'b-toggle__item_active'
            }, () => {
                $('.b-main').toggleClass('b-main_sm-scroll-lock')
                $('.b-main').toggleClass('b-main_sm-transparent')
                $('.b-content').toggleClass('b-content_sm-blackout')
                $('.b-page__sidebar').toggleClass('b-page__sidebar_sm-open')
                $('.b-page__content').toggleClass('b-page__content_sm-shift')                
            })

            autosize(document.querySelectorAll('[data-textarea-autosize]'))

        })