/*** Bootstrap forms ***/
.form-group input[type="text"],
.form-group input[type="number"],
.form-group input[type="tel"],
.form-group input[type="email"],
.form-group input[type="password"],
.form-group textarea {
    width: 100%;
    display: block;
    border-radius: 0;
    box-shadow: 0 0.15rem 0.5rem rgba(0,0,0,.4);
    outline: 0;
    border: 0;
}
.attributes-wrapper label, .attributes-wrapper .form-group {
    display: block;
    margin: 0;
    color: #595959;
    font-size: .8rem;
    font-weight: 400;
}
.attributes-wrapper label.control-label {
    margin-bottom: 10px;
}
.attributes-wrapper {
    display: none;
    padding: 15px;
    border: 1px solid #8b9bda;
    margin-bottom: 25px;
}
.attribute-box {
    display: block;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #dadada;
}
.attribute-box:last-child {
    border-bottom: none;
}
.attributes-wrapper .select2-container .select2-selection--single {
    height: 2rem;
    padding: 0 2rem 0 1rem;
    color: #262626;
    font-size: .8rem;
    font-weight: 300;
    outline: 0;
    border: 0;
    border-radius: 0;
    background: #fff;
    transition: all .1s linear;
    box-shadow: 0 0.15rem 0.5rem rgba(0,0,0,.2);
}
.attributes-wrapper .select2-container .select2-selection--single .select2-selection__rendered {
    padding: 0;
    height: 2rem;
    line-height: 2rem;
}
.attributes-wrapper .select2-container--default .select2-selection--single .select2-selection__arrow {
    position: absolute;
    top: 50%;
    right: 10px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.attributes-wrapper .select2-container--default .select2-selection--single .select2-selection__arrow:before {
    position: absolute;
    top: 50%;
    right: 10px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.attributes-wrapper .select2-container--default .select2-selection--single .select2-selection__arrow:after, .select2-container--default .select2-selection--single .select2-selection__arrow:before {
    position: absolute;
    top: 50%;
    right: 10px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.attributes-wrapper .select2-container--krajee .select2-selection--single .select2-selection__arrow {
    border-left: none;
    height: 2rem;
    line-height: 2rem;
}
.help-block {
    margin: 0;
}


/*** Bootstrap alert ***/
.b-bs-alert {
    width: 100%;
}
.b-bs-alert .alert {
    display: block;
    width: 100%;
}


/*** Slick fix ***/
.slick-slide img {
    display: inline-block;
}
.b-single-announcemen__slider .slick-slide {
    text-align: center;
}


/*** Theme fix ***/
.b-field__icon {
    bottom: auto;
    top: 0;
}
.b-field__characters {
    bottom: auto;
    top: 0;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}


.intl-tel-input {
    display: block;
    width: 100%;
}