extends ../layouts/page.pug

block head
    title Celeb Cloud - model agency
    
    +style('https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css')
    +style('./assets/lib/jquery.scrollbar/jquery.scrollbar.css')

block body

    .b-page
        aside.b-sidebar.b-page__sidebar
            .b-sidebar__inner
                header.b-sidebar__header
                    .b-logo.b-sidebar__logo
                        a.b-logo__link(href='index.html')
                            +logo-svg('sidebar-logo')

                nav.b-menu.b-sidebar__menu
                    ul.b-menu__items
                        li.b-menu__item
                            a.b-menu__item-link(href='index.html') Home
                        li.b-menu__item.b-menu__item_active
                            a.b-menu__item-link(href='our-models.html') Our models
                        li.b-menu__item
                            a.b-menu__item-link(href='contacts.html') Contacts

                footer.b-sidebar__footer
                    .b-social.b-sidebar__social
                        ul.b-social__items
                            li.b-social__item
                                a.b-social__item-link(href='#' title='our vk')
                                    i.b-social__item-icon.fab.fa-vk
                            li.b-social__item
                                a.b-social__item-link(href='#' title='our facebook')
                                    i.b-social__item-icon.fab.fa-facebook-f
                            li.b-social__item
                                a.b-social__item-link(href='#' title='our twitter')
                                    i.b-social__item-icon.fab.fa-twitter
                            li.b-social__item
                                a.b-social__item-link(href='#' title='our instagram')
                                    i.b-social__item-icon.fab.fa-instagram
                        

                    p.b-sidebar__copyright © Model Agency "Celeb Cloud", 2018
        
        
        .b-content.b-page__content
            header.b-header.b-content__header
                .b-header__inner
                    .b-header__left
                        .b-toggle.b-header__sidebar-toggle
                            .b-toggle__items
                                i.b-toggle__item.b-toggle__item_active.b-link__icon_lg.fas.fa-bars
                                i.b-toggle__item.b-link__icon_lg.fas.fa-times

                    .b-header__middle
                        .b-logo-sm.b-header__logo-sm
                            a.b-logo-sm__link(href='index.html')
                                +logo-sm-svg('header-logo-sm')


                    .b-header__right
                        a.b-link.b-header__login(href='login-model.html')
                            i.b-link__icon.b-link__icon_lg.fas.fa-user-ninja

                        a.b-link.b-header__login(href='login-user.html')
                            i.b-link__icon.b-link__icon_lg.fas.fa-user-tie




            main.b-main.b-content__main

                nav.b-nav-line.b-main__nav-line
                    .b-nav-line__left
                        a.b-link.b-nav-line__bread-crumbs(href='index.html')
                            i.b-link__icon.fas.fa-home
                            span.b-link__texts
                                span.b-link__text-first Home

                        a.b-link.b-nav-line__bread-crumbs(href='index.html')
                            span.b-link__texts
                                span.b-link__text-first Our models
                                    
                    .b-nav-line__right
                        a.b-link.b-nav-line__login(href='login-model.html')
                            i.b-link__icon.fas.fa-user-ninja
                            span.b-link__texts.b-link__texts_underline
                                span.b-link__text-first.b-link__text-first_uppercase Models 
                                span.b-link__text-second.b-link__text-first_uppercase sign in

                        a.b-link.b-nav-line__login(href='login-user.html')
                            i.b-link__icon.fas.fa-user-tie
                            span.b-link__texts.b-link__texts_underline
                                span.b-link__text-first User 
                                span.b-link__text-second sign in


                .b-main__inner
                    .b-main__items
                        //- section.b-section.b-main__item(class="collapse" id="modelFilter")
                        //-     .b-filter-form.b-section__main
                        //-         .b-filter-form__items
                        //-             .b-field.b-filter-form__item
                        //-                 label.b-field__label
                        //-                     span.b-field__title Возраст
                        //-                     .b-field__wrap
                        //-                         input.b-field__input.b-field__input_icon(type="text" name="age")
                        //-                         i.b-field__icon.b-field__icon_focus-first.fas.fa-birthday-cake
                        //-             .b-field.b-filter-form__item
                        //-                 label.b-field__label
                        //-                     span.b-field__title Рост
                        //-                     .b-field__wrap
                        //-                         input.b-field__input.b-field__input_icon(type="text" name="height")
                        //-                         i.b-field__icon.b-field__icon_focus-first.fas.fa-arrows-alt-v
                        //-             .b-field.b-filter-form__item
                        //-                 label.b-field__label
                        //-                     span.b-field__title Вес
                        //-                     .b-field__wrap
                        //-                         input.b-field__input.b-field__input_icon(type="text" name="weight")
                        //-                         i.b-field__icon.b-field__icon_focus-first.fas.fa-weight
                        //-             .b-field.b-filter-form__item
                        //-                 label.b-field__label
                        //-                     span.b-field__title Цвет волос
                        //-                     .b-field__wrap
                        //-                         input.b-field__input.b-field__input_icon(type="text" name="hair_color")
                        //-                         i.b-field__icon.b-field__icon_focus-first.fas.fa-female
                        //-             .b-field.b-filter-form__item
                        //-                 label.b-field__label
                        //-                     span.b-field__title Имя / фамилия
                        //-                     .b-field__wrap
                        //-                         input.b-field__input.b-field__input_icon(type="text" name="name")
                        //-                         i.b-field__icon.b-field__icon_focus-first.fas.fa-search

                        section.b-section.b-main__item
                            header.b-section__header
                                h1.b-title.b-section__header-title
                                    span.b-title__texts.b-title__texts_line-first
                                        span.b-title__text-first Our
                                        span.b-title__text-second models
                                
                                div.b-search.b-section__header-search(action="search-model")
                                    button.b-button.b-button_first.b-search__btn(data-toggle="collapse" href="#modelFilter" role="button" aria-expanded="false" aria-controls="collapseExample")
                                        span.b-button__texts
                                            i.b-button__icon.fas.fa-search
                                            span.b-button__text-first Open filter
                            
                            .b-section__main(class="collapse" id="modelFilter")
                                .b-filter-form
                                    .b-filter-form__items
                                        .b-double-field.b-filter-form__item
                                            label.b-double-field__label
                                                .b-double-field__title
                                                    i.b-double-field__icon.b-double-field__icon_focus-first.fas.fa-birthday-cake
                                                    span.b-double-field__title-text Возраст
                                                .b-double-field__wrap
                                                    input.b-double-field__input-1(type="text" name="age_from" placeholder="от")
                                                    input.b-double-field__input-2(type="text" name="age_to" placeholder="до")
                                        .b-double-field.b-filter-form__item
                                            label.b-double-field__label
                                                .b-double-field__title
                                                    i.b-double-field__icon.b-double-field__icon_focus-first.fas.fa-arrows-alt-v
                                                    span.b-double-field__title-text Рост
                                                .b-double-field__wrap
                                                    input.b-double-field__input-1(type="text" name="height_from" placeholder="от")
                                                    input.b-double-field__input-2(type="text" name="height_to" placeholder="до")
                                        .b-double-field.b-filter-form__item
                                            label.b-double-field__label
                                                .b-double-field__title
                                                    i.b-double-field__icon.b-double-field__icon_focus-first.fas.fa-weight
                                                    span.b-double-field__title-text Вес
                                                .b-double-field__wrap
                                                    input.b-double-field__input-1(type="text" name="weight_from" placeholder="от")
                                                    input.b-double-field__input-2(type="text" name="weight_to" placeholder="до")
                                        .b-field-select.b-field-select_icon.b-filter-form__item
                                            label.b-field-select__label
                                                span.b-field-select__title Цвет волос
                                                .b-field__wrap
                                                    select#hair_color.b-field-select__select2(required)
                                                        option Блондинка
                                                        option Брюнетка
                                                        option Шатенка
                                                        option Какая-то еще
                                                    i.b-field-select__icon.b-field-select__icon_focus-first.fas.fa-female
                                        .b-field.b-filter-form__item
                                            label.b-field__label
                                                span.b-field__title Имя / фамилия
                                                .b-field__wrap
                                                    input.b-field__input.b-field__input_icon(type="text" name="name" placeholder="Введите...")
                                                    i.b-field__icon.b-field__icon_focus-first.fas.fa-search
                                        button.b-button.b-button_first.b-filter-form__item.b-filter-form__item_submit(type="submit")
                                            span.b-button__texts
                                                span.b-button__text-first Search

                            .b-our-models.b-section__main
                                .b-our-models__items
                                    a.b-our-model.b-our-models__item(href="single-model.html")
                                        .b-our-model__box(style="background-image: url('./assets/img/tmp/our-models/1.jpg')")
                                            img.b-our-model__img(alt="julia bogdanova" src="./assets/img/tmp/our-models/1.jpg")
                                            h2.b-our-model__name Julia Bogdanova
                                            .b-our-model__id 15
                                        
                                        .b-our-model__footer
                                            .b-like.b-our-model__like
                                                i.b-like__icon.fas.fa-heart
                                                .b-like__value 1447
                                            
                                            
                                    a.b-our-model.b-our-models__item(href="single-model.html")
                                        .b-our-model__box(style="background-image: url('./assets/img/tmp/our-models/2.jpg')")
                                            img.b-our-model__img(alt="julia bogdanova" src="./assets/img/tmp/our-models/2.jpg")
                                            h2.b-our-model__name Julia Bogdanova
                                            .b-our-model__id 7898
                                         
                                        .b-our-model__footer
                                            .b-like.b-our-model__like
                                                i.b-like__icon.fas.fa-heart
                                                .b-like__value 1447
                                    a.b-our-model.b-our-models__item(href="single-model.html")
                                        .b-our-model__box(style="background-image: url('./assets/img/tmp/our-models/1.jpg')")
                                            img.b-our-model__img(alt="julia bogdanova" src="./assets/img/tmp/our-models/1.jpg")
                                            h2.b-our-model__name Julia Bogdanova
                                            .b-our-model__id 15
                                        
                                        .b-our-model__footer
                                            .b-like.b-our-model__like
                                                i.b-like__icon.fas.fa-heart
                                                .b-like__value 1447
                                            
                                            
                                    a.b-our-model.b-our-models__item(href="single-model.html")
                                        .b-our-model__box(style="background-image: url('./assets/img/tmp/our-models/2.jpg')")
                                            img.b-our-model__img(alt="julia bogdanova" src="./assets/img/tmp/our-models/2.jpg")
                                            h2.b-our-model__name Julia Bogdanova
                                            .b-our-model__id 7898
                                         
                                        .b-our-model__footer
                                            .b-like.b-our-model__like
                                                i.b-like__icon.fas.fa-heart
                                                .b-like__value 1447


                                    a.b-our-model.b-our-models__item(href="single-model.html")
                                        .b-our-model__box(style="background-image: url('./assets/img/tmp/our-models/3.jpg')")
                                            img.b-our-model__img(alt="julia bogdanova" src="./assets/img/tmp/our-models/3.jpg")
                                            h2.b-our-model__name Julia Bogdanova
                                            .b-our-model__id 2
                                         
                                        .b-our-model__footer
                                            .b-like.b-our-model__like
                                                i.b-like__icon.fas.fa-heart
                                                .b-like__value 1447


                                    
                                    a.b-our-model.b-our-models__item(href="single-model.html")
                                        .b-our-model__box(style="background-image: url('./assets/img/tmp/our-models/1.jpg')")
                                            img.b-our-model__img(alt="julia bogdanova" src="./assets/img/tmp/our-models/1.jpg")
                                            h2.b-our-model__name Julia Bogdanova
                                            .b-our-model__id 15
                                        
                                        .b-our-model__footer
                                            .b-like.b-our-model__like
                                                i.b-like__icon.fas.fa-heart
                                                .b-like__value 1447
                                            
                                            
                                    a.b-our-model.b-our-models__item(href="single-model.html")
                                        .b-our-model__box(style="background-image: url('./assets/img/tmp/our-models/2.jpg')")
                                            img.b-our-model__img(alt="julia bogdanova" src="./assets/img/tmp/our-models/2.jpg")
                                            h2.b-our-model__name Julia Bogdanova
                                            .b-our-model__id 7898
                                         
                                        .b-our-model__footer
                                            .b-like.b-our-model__like
                                                i.b-like__icon.fas.fa-heart
                                                .b-like__value 1447


                                    a.b-our-model.b-our-models__item(href="single-model.html")
                                        .b-our-model__box(style="background-image: url('./assets/img/tmp/our-models/3.jpg')")
                                            img.b-our-model__img(alt="julia bogdanova" src="./assets/img/tmp/our-models/3.jpg")
                                            h2.b-our-model__name Julia Bogdanova
                                            .b-our-model__id 2
                                         
                                        .b-our-model__footer
                                            .b-like.b-our-model__like
                                                i.b-like__icon.fas.fa-heart
                                                .b-like__value 1447


                                    
                                    a.b-our-model.b-our-models__item(href="single-model.html")
                                        .b-our-model__box(style="background-image: url('./assets/img/tmp/our-models/1.jpg')")
                                            img.b-our-model__img(alt="julia bogdanova" src="./assets/img/tmp/our-models/1.jpg")
                                            h2.b-our-model__name Julia Bogdanova
                                            .b-our-model__id 15
                                        
                                        .b-our-model__footer
                                            .b-like.b-our-model__like
                                                i.b-like__icon.fas.fa-heart
                                                .b-like__value 1447
                                            
                                            
                                    a.b-our-model.b-our-models__item(href="single-model.html")
                                        .b-our-model__box(style="background-image: url('./assets/img/tmp/our-models/2.jpg')")
                                            img.b-our-model__img(alt="julia bogdanova" src="./assets/img/tmp/our-models/2.jpg")
                                            h2.b-our-model__name Julia Bogdanova
                                            .b-our-model__id 7898
                                         
                                        .b-our-model__footer
                                            .b-like.b-our-model__like
                                                i.b-like__icon.fas.fa-heart
                                                .b-like__value 1447


                                    a.b-our-model.b-our-models__item(href="single-model.html")
                                        .b-our-model__box(style="background-image: url('./assets/img/tmp/our-models/3.jpg')")
                                            img.b-our-model__img(alt="julia bogdanova" src="./assets/img/tmp/our-models/3.jpg")
                                            h2.b-our-model__name Julia Bogdanova
                                            .b-our-model__id 2
                                         
                                        .b-our-model__footer
                                            .b-like.b-our-model__like
                                                i.b-like__icon.fas.fa-heart
                                                .b-like__value 1447


                                    a.b-our-model.b-our-models__item(href="single-model.html")
                                        .b-our-model__box(style="background-image: url('./assets/img/tmp/our-models/3.jpg')")
                                            img.b-our-model__img(alt="julia bogdanova" src="./assets/img/tmp/our-models/3.jpg")
                                            h2.b-our-model__name Julia Bogdanova
                                            .b-our-model__id 88
                                         
                                        .b-our-model__footer
                                            .b-like.b-our-model__like
                                                i.b-like__icon.fas.fa-heart
                                                .b-like__value 1447


block script
    
    script.

        $(document).ready(e => {

            new ActiveInHover({
                items: '.b-menu__items',
                item: '.b-menu__item',
                activeClass: 'b-menu__item_active'
            })

            new ToggleTrigger({
                items: '.b-toggle__items',
                item: '.b-toggle__item',
                activeClass: 'b-toggle__item_active'
            }, () => {
                $('.b-main').toggleClass('b-main_sm-scroll-lock')
                $('.b-main').toggleClass('b-main_sm-transparent')
                $('.b-content').toggleClass('b-content_sm-blackout')
                $('.b-page__sidebar').toggleClass('b-page__sidebar_sm-open')
                $('.b-page__content').toggleClass('b-page__content_sm-shift')                
            })

        })

    +script('./assets/lib/autosize.min.js')
    +script('https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js')
    +script('./assets/lib/jquery.scrollbar/jquery.scrollbar.min.js')
    +script('./assets/lib/select2-searchInputPlaceholder.js')

    script.

        $(document).ready(function () {
            $('#hair_color').select2({
                "searchInputPlaceholder": 'Поиск...',
                'language': {
                    'noResults': function () {
                        return "No results to search";
                    }
                }
            });

            $('select').on('select2:open', function (e) {
                $('.select2-results__options').scrollbar().parent().addClass('scrollbar-outer');
                $('.select2-search input').prop('focus', false);
            });

            $('[data-select2-non-search]').select2({
                'minimumResultsForSearch': -1
            });
            
            $('[data-select2-search]').select2();
        });
    
        $(document).ready(e => {

            $('#search-location').select2({
                "searchInputPlaceholder": 'Введите название населенного пункта',
                "language": {
                    "noResults": function () {
                        return "Ничего не найдено";
                    }
                }
            });

            $('select').on('select2:open', function (e) {
                $('.select2-results__options').scrollbar().parent().addClass('scrollbar-outer');
                $('.select2-search input').prop('focus', false);
            });

            $('[data-select2-non-search]').select2({
                "minimumResultsForSearch": -1
            });
            
            $('[data-select2-search]').select2();

        })